<br/>
<div>
<p class="lead"> 
  Create a ToDo list where the items self-explode if not completed within 7 days. Prioritize!
</p>
<% if current_user %>
  <p>Welcome, <%= current_user.email %>!</p>
<% end %>
</div>